spring:
  application:
    name: lovable-clone


  datasource:
    url: jdbc:postgresql://localhost:5432/testDB
    username: postgres
    password: Vinay@1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
